section
  h2.visually-hidden Список экскурсий
  ul.cards-list
    li.card
      .card__img-wrapper
        picture
          source(type="image/webp", srcset="images/card-image-01@1x.webp 1x, images/card-image-01@2x.webp 2x")
          img(src="images/card-image-01@1x.jpg", srcset="images/card-image-01@2x.jpg 2x", alt="Изображение видов экскурсии")
      .card__description
        h3 Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020
        p.card__duration
          +icon-mono("icon-clock")(width="16", height="16", fill="#c7c7c7")
          | 2 часа
        ul.card__features
          li.card__feature Билет на целый день
          li.card__feature Неограниченное число катаний
          li.card__feature 6 остановок у главных достопримечательностей
          li.card__feature
            | Ближайший рейс сегодня
            .card__times-wrapper
              a.card__time(href="#") 12:00
              a.card__time(href="#") 12:00
              a.card__time(href="#") 12:00
              a.card__time(href="#") 12:00
        .card__footer
          .card__price-wrapper
            p.card__price
              span 900
              svg(width="19", height="26", viewBox="0 0 19 26", fill="none", xmlns="http://www.w3.org/2000/svg")
                path(d="M11.715 0H4.332C3.57 0 2.953.644 2.953 1.44v10.892H1.38C.617 12.332 0 12.976 0 13.77c0 .794.617 1.439 1.379 1.439h1.574v3.287H1.38c-.762 0-1.379.645-1.379 1.44 0 .794.617 1.439 1.379 1.439h1.574v3.185c0 .795.617 1.439 1.379 1.439.761 0 1.378-.644 1.378-1.44v-3.184h6.005c.761 0 1.379-.645 1.379-1.44 0-.794-.618-1.439-1.38-1.439H5.71V15.21h6.005c4.017 0 7.285-3.412 7.285-7.605C19 3.308 15.647 0 11.715 0zm0 12.332H5.71V2.878h6.005c2.482 0 4.528 2.09 4.528 4.727 0 2.606-2.031 4.727-4.528 4.727z", fill="#312d2d")
            p.card__price.card__price--secondary 1200 р на причале
          a.card__button(href="#") Подробнее
    li.card
      .card__img-wrapper
        picture
          source(type="image/webp", srcset="images/card-image-02@1x.webp 1x, images/card-image-02@2x.webp 2x")
          img(src="images/card-image-02@1x.jpg", srcset="images/card-image-02@2x.jpg 2x", alt="Изображение видов экскурсии")
      .card__description
        h3 Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020
        p.card__duration
          +icon-mono("icon-clock")(width="16", height="16", fill="#c7c7c7")
          | 2 часа
        ul.card__features
          li.card__feature Билет на целый день
          li.card__feature Неограниченное число катаний
          li.card__feature 6 остановок у главных достопримечательностей
          li.card__feature
            | Ближайший рейс сегодня
            .card__times-wrapper
              a.card__time(href="#") 12:00
              a.card__time(href="#") 12:00
              a.card__time(href="#") 12:00
              a.card__time(href="#") 12:00
        .card__footer
          .card__price-wrapper
            p.card__price
              | 900
              svg(width="19", height="26", viewBox="0 0 19 26", fill="none", xmlns="http://www.w3.org/2000/svg")
                path(d="M11.715 0H4.332C3.57 0 2.953.644 2.953 1.44v10.892H1.38C.617 12.332 0 12.976 0 13.77c0 .794.617 1.439 1.379 1.439h1.574v3.287H1.38c-.762 0-1.379.645-1.379 1.44 0 .794.617 1.439 1.379 1.439h1.574v3.185c0 .795.617 1.439 1.379 1.439.761 0 1.378-.644 1.378-1.44v-3.184h6.005c.761 0 1.379-.645 1.379-1.44 0-.794-.618-1.439-1.38-1.439H5.71V15.21h6.005c4.017 0 7.285-3.412 7.285-7.605C19 3.308 15.647 0 11.715 0zm0 12.332H5.71V2.878h6.005c2.482 0 4.528 2.09 4.528 4.727 0 2.606-2.031 4.727-4.528 4.727z", fill="#312d2d")
            p.card__price.card__price--secondary 1200 р на причале
          a.card__button(href="#") Подробнее
    li.card
      .card__img-wrapper
        picture
          source(type="image/webp", srcset="images/card-image-03@1x.webp 1x, images/card-image-03@2x.webp 2x")
          img(src="images/card-image-03@1x.jpg", srcset="images/card-image-03@2x.jpg 2x", alt="Изображение видов экскурсии")
      .card__description
        h3 Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2020
        p.card__duration
          +icon-mono("icon-clock")(width="16", height="16", fill="#c7c7c7")
          | 2 часа
        ul.card__features
          li.card__feature Билет на целый день
          li.card__feature Неограниченное число катаний
          li.card__feature 6 остановок у главных достопримечательностей
          li.card__feature
            | Ближайший рейс сегодня
            .card__times-wrapper
              a.card__time(href="#") 12:00
              a.card__time(href="#") 12:00
              a.card__time(href="#") 12:00
              a.card__time(href="#") 12:00
        .card__footer
          .card__price-wrapper
            p.card__price
              | 900
              svg(width="19", height="26", viewBox="0 0 19 26", fill="none", xmlns="http://www.w3.org/2000/svg")
                path(d="M11.715 0H4.332C3.57 0 2.953.644 2.953 1.44v10.892H1.38C.617 12.332 0 12.976 0 13.77c0 .794.617 1.439 1.379 1.439h1.574v3.287H1.38c-.762 0-1.379.645-1.379 1.44 0 .794.617 1.439 1.379 1.439h1.574v3.185c0 .795.617 1.439 1.379 1.439.761 0 1.378-.644 1.378-1.44v-3.184h6.005c.761 0 1.379-.645 1.379-1.44 0-.794-.618-1.439-1.38-1.439H5.71V15.21h6.005c4.017 0 7.285-3.412 7.285-7.605C19 3.308 15.647 0 11.715 0zm0 12.332H5.71V2.878h6.005c2.482 0 4.528 2.09 4.528 4.727 0 2.606-2.031 4.727-4.528 4.727z", fill="#312d2d")
            p.card__price.card__price--secondary 1200 р на причале
          a.card__button(href="#") Подробнее
