$font-family: 'Open Sans', 'Arial', sans-serif;

$title-color: #404040;
$main-color: #4B4B4B;
$fade-color: #9E9E9E;
$border-color: #828282;
$time-color: #343434;
$time-bg-color: #D9E8FF;
$time-hover-color: #6BA6FF;
$price-color: #000;
$button-bg-color: #FED74b;
$button-border-color: #CBA500;
$button-color: #404040;
$new-bg-color: #099CE8;
$white-color: #fff;
$all-year-bg-color: #FFD83B;
$all-year-color: #323232;
$new-corner-bg-color: #7553FF;
